data/veaServiceReferenceData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="veaServiceReferenceData" type="veaServiceReferenceDataType"/>

  <xs:complexType name="veaServiceReferenceDataType">
    <xs:sequence>
      <xs:element type="warlikeAndNonWarlikeType" name="warlikeAndNonWarlike"/>
      <xs:element type="hazardousType" name="hazardous"/>
      <xs:element type="peacekeepingType" name="peacekeeping"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="warlikeDeterminationsType">
    <xs:sequence>
      <xs:element type="determinationType" name="determination" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qualificationsType">
    <xs:sequence>
      <xs:element type="xs:string" name="qualification" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="non-warlikeDeterminationsType">
    <xs:sequence>
      <xs:element type="determinationType" name="determination" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specifiedAreasType">
    <xs:sequence>
      <xs:element type="xs:string" name="specifiedArea" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specifiedArea">
    <xs:sequence>

      <xs:element type="xs:string" name="specifiedArea" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="operationsType">
    <xs:sequence>
      <xs:element type="operationType" name="operation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hazardousType">
    <xs:sequence>
      <xs:element type="xs:string" name="veaLegislativeReference"/>
      <xs:element type="determinationsType" name="determinations"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="peacekeepingType">
    <xs:sequence>
      <xs:element type="xs:complexType" name="veaSch3"/>
      <xs:element type="peacekeepingNoticesType" name="notices"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="veaSch3">
    <xs:sequence>
      <xs:element type="xs:string" name="veaLegislativeReference"/>
      <xs:element type="itemsType" name="items"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="itemType" name="item" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:int" name="number"/>
      <xs:element type="xs:string" name="descriptionOfPeacekeepingForce"/>
      <xs:element type="xs:date" name="initialDateAsAPeaceKeepingForce"/>
      <xs:element type="mappingsType" name="mappings" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mappingsType">
    <xs:sequence>
      <xs:element type="mappingType" name="mapping" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mappingType">
    <xs:attribute name="regex" type="xs:string"/>
  </xs:complexType>


  <xs:complexType name="warlikeAndNonWarlikeType">
    <xs:sequence>
      <xs:element type="xs:string" name="veaLegislativeReference"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="warlikeDeterminationsType" name="warlikeDeterminations"/>
      <xs:element type="non-warlikeDeterminationsType" name="non-warlikeDeterminations"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationType">
    <xs:all>
      <xs:element type="xs:string" name="name" minOccurs="1"/>
      <xs:element type="qualificationsType" name="qualifications" minOccurs="0"/>
      <xs:element type="specifiedAreasType" name="specifiedAreas" minOccurs="0"/>
      <xs:element type="xs:date" name="startDate" minOccurs="1"/>
      <xs:element type="xs:date" name="endDate" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="activitiesType">
   <xs:sequence>
     <xs:element type="activityType" name="activity" minOccurs="1"/>
   </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activityType">
    <xs:all>
    <xs:element type="xs:date" name="startDate" minOccurs="1"/>
    <xs:element type="xs:date" name="endDate" minOccurs="0"/>
    <xs:element type="qualificationsType" name="qualifications" minOccurs="0"/>
    <xs:element type="specifiedAreasType" name="specifiedAreas" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="determinationsType">
    <xs:sequence>
      <xs:element type="determinationType" name="determination" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="determinationType">
    <xs:all>
      <xs:element type="xs:string" name="federalRegisterOfLegislationReference"/>
      <xs:element type="xs:date" name="commencementDate"/>
      <xs:element type="operationsType" name="operations" minOccurs="0"/>
      <xs:element type="activitiesType" name="activities" minOccurs="0"/>

      <xs:element type="xs:date" name="startDate" minOccurs="0"/>
      <xs:element type="xs:date" name="endDate" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="peacekeepingNoticesType">
    <xs:sequence>
      <xs:element type="xs:string" name="veaLegislativeReference"/>
      <xs:element type="peacekeepingNoticeType" name="notice" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="peacekeepingNoticeType" >
  <xs:all>
    <xs:element type="xs:string" name="legalSource"/>
    <xs:element type="xs:string" name="descriptionOfPeacekeepingForce"/>
    <xs:element type="xs:string" name="shortName"/>
    <xs:element type="xs:date" name="initialDateAsAPeaceKeepingForce"/>
    <xs:element type="mappingsType" name="mappings"/>
  </xs:all>
</xs:complexType>
</xs:schema>